#chat-screen {
  background-color: #abc1d1;
  height: 100vh;
}

#chat-screen .alt-header,
#chat-screen .status-bar {
  top: 0px;
  background-color: #abc1d1;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
}

#chat-screen .status-bar {
  z-index: 2;
}
#chat-screen .alt-header {
  z-index: 1;
  padding-left: 5px;
  padding-right: 5px;
}
#chat-screen__nuna {
  background: linear-gradient(#fce5ff80, rgba(0, 0, 0, 0.5)),
    url("https://i1.korea-iphone.com/files/f52101c1e746fe1b6dbcd47065bf1f29.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  /* background-repeat: no-repeat; */
}

#chat-screen__nuna .alt-header,
#chat-screen__nuna .status-bar {
  top: 0px;
  background-color: #fce5ff;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
}

#chat-screen__nuna .status-bar {
  z-index: 2;
}
#chat-screen__nuna .alt-header {
  z-index: 1;
  padding-left: 5px;
  padding-right: 5px;
}

@keyframes fadeIn {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
.main-chat {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message-row {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeIn 1s ease-in-out forwards;
}
.message-row:nth-child(3) {
  animation-delay: 0.3s;
}
.message-row:nth-child(4) {
  animation-delay: 0.6s;
}
.message-row:nth-child(5) {
  animation-delay: 0.9s;
}

.chat__timestamp {
  color: white;
  background-color: #92a4b2;
  font-size: 14px;
  padding: 10px 15px;
  border-radius: 25px;
  margin-bottom: 25px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 18px;
  margin-right: 15px;
}

.message__author {
  margin-bottom: 5px;
  display: block;
}

.message__info {
  display: flex;
  align-items: end;
}

.message__bubble {
  background-color: white;
  padding: 8px 15px;
  border-radius: 15px;
  margin-right: 5px;
  border-top-left-radius: 0px;
  font-size: 18px;
}
.message__author,
.message__time {
  opacity: 0.8;
  font-size: 14px;
}

.message-row-own {
  justify-content: flex-end;
}

.message-row-own .message__bubble {
  background-color: var(--yellow);
  border-top-right-radius: 0px;
  border-top-left-radius: 15px;
  margin-right: 0px;
  margin-left: 5px;
}

.message-row-own .message__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  padding: 5px 10px;
  align-items: center;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.reply .reply__column:first-child {
  width: 10%;
}

.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply i {
  opacity: 0.5;
}
.reply input {
  padding: 12px;
  width: 95%;
  border: var(--main-border);
  border-radius: 20px;
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: 25px;
  top: 4px;
}
.reply__column:last-child > i {
  right: 55px;
  top: 18px;
  font-size: 25px;
}

.reply__column button {
  background-color: var(--yellow);
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.reply__column button i {
  opacity: 1;
}
.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

.reply .reply__column:first-child,
.reply .fa-face-smile-beam,
.reply button {
  transition: opacity 0.3s ease-in-out;
}
.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-face-smile-beam,
.reply:focus-within button {
  opacity: 0;
}

.reply input:focus {
  width: 95vw;
  transform: translateX(-10%) translateY(-80px);
}

.reply:focus-within {
  transform: translateY(80px);
}
