.welcome-header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
}

.welcome-header__title {
  margin-bottom: 20px;
  font-size: 25px;
}
.welcome-header__text {
  width: 60%;
  opacity: 0.7;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

#login-form input {
  padding: 15px 0px;
  border: none;
  font-size: 18px;
}

#login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
  margin-bottom: 25px;
}

#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}
#login-form input:focus {
  border-color: #2365a4;
  border-bottom-width: 2px;
}

#login-form input[type="submit"] {
  background-color: var(--basic-color);
  cursor: pointer; /* pointer, progress, not-allowed*/
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
}

#login-form a {
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
}
