.screen-header {
  display: flex;
  justify-content: space-between;
  padding: var(--horizontal-space);
  margin-top: 20px;
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 28px;
  font-weight: 500;
}

.screen-hader__icons span {
  margin-left: 25px;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}
.screen-hader__icons .fa-gear:hover {
  animation: rotateCog 2s linear infinite;
}
