.user-component {
  display: flex;
}

.user-component {
  justify-content: space-between;
  margin-top: 15px;
}

.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 25px;
  margin-right: 20px;
}

.user-component__title {
  font-weight: 500;
  font-size: 22px;
}

.user-component__subtitle {
  margin-top: 8px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}

.user-component__avatar--user {
  width: 80px;
  height: 80px;
}

.user-component__avatar--friends {
  width: 60px;
  height: 60px;
  border-radius: 28px;
}

.user-component__title--not-bold {
  font-weight: 300;
  font-size: 18px;
}

.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-component__time {
  margin-bottom: 10px;
  display: block;
}

@keyframes recommendRotate {
  0% {
    transform: none;
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: none;
  }
}
.user-component__avatar-recommend {
  will-change: transform;
  animation: recommendRotate 3s linear infinite;
}
